*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	background-color: #333;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.stopwatch {
	position: relative;
	font-size: 40rem;
	flex-basis: 100%;
	text-align: center;
}

.time-box {
	position: absolute;
	top: 62%;
  left: 50%;
	padding: 15px 30px;
	border: 3px solid black;
	border-radius: 15px;
	font-weight: bold;
	background-color: white;
	font-size: 3.5rem;
	margin: auto;
  transform: translate(-50%, -50%) scale(0);
	transform-origin: center center;
	transition: transform 0.3s ease;
}
.start-btn,
.reset-btn {
	display: block;
	padding: 20px 40px;
	margin: 10px;
	border-style: none;
	border-radius: 15px;
	font-size: 3rem;
	background-color: #407c2d;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	cursor: pointer;
	transition: background-color 0.2s;
}
.start-btn:active {
	background-color: #275a18;
}

.reset-btn {
	background-color: #636363;
}
.reset-btn:active {
	background-color: #474747;
}
.reset-btn {
	background-color: #636363;
}
.stop-btn {
	background-color: #f8312f;
}
.stop-btn:active {
	background-color: #af1614;
}

.is-timebox-toggled {
	animation: appears 0.2s;
	transform: translate(-50%, -50%) scale(1);
}

@keyframes appears {
	75% {
		transform: translate(-50%, -50%) scale(1.5);
	}
	100% {
		transform: translate(-50%, -50%) scale(1);
	}
}

.appears {
	animation: appears 0.2s;
	transform: scale(1);
}
